<!DOCTYPE html>
<html>
    <head>Crear Animal</head>
    <body>
        <h1>Crear Animal</h1>

        <form method="post">
            {% csrf_token %}
            <label for="codigo">Código</label>
            <input type="number" name="codigo" required>
            <br>
            <label for="nomre">nombre</label>
            <input type="text" name="nombre" required>
            <br>
            <label for="edad">Edad</label>
            <input type="number" name="edad" required>
            <br>
            <label for="encargado">Encargado</label>
            <input type="text" name="encargado" required>
            <br>
            <label for="raza">Raza</label>
            <input type="text" name="raza" required>
            <button type="submit">Guardar</button>
        </form>
    </body>
</html>