<!DOCTYPE html>
<html>
    <head>
        <title>Gestion Animales</title>
    </head>
    <body>
        <form method="POST" action="{% url 'cargar_xml' %}">
            {% csrf_token %}
            <button type="submit">Cargar XML</button>
        </form>
       
        <a href="{% url 'crear_animal' %}">Crear Animal</a>
        <h1>Lista de Animales</h1>
        <table>
            <thead>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Encargado</th>
                <th>Raza</th>
                <th>Acciones</th>
            </thead>
            <tbody>
                {% for animal in animales %}
                <tr>
                    <td>{{ animal.codigo }}</td>
                    <td>{{ animal.nombre }}</td>
                    <td>{{ animal.edad }}</td>
                    <td>{{ animal.encargado }}</td>
                    <td>{{ animal.raza }}</td>
                    <td>
                        <a href="{% url 'actualizar_animal' animal.codigo %}">Actualizar</a>
                        <a href="{% url 'eliminar_animal' animal.codigo %}">Eliminar</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td>No existen registros</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>